<h1>Listing training_members</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @training_members.each do |training_member| %>

<% end %>
</table>

<br />

<%= link_to 'New Training member', new_training_member_path %>
